
<input class="form-control" list="house" name="house" id="lol">
<datalist id="house">
  <option value="Gryffindor">
  <option value="Slytherin">
  <option value="Ravenclaw">
  <option value="Hufflepuff">
</datalist>

<button id="button1" (click)=getStudents() class="btn">get students</button>

<button id="button1" (click)=getStaff() class="btn">get staff</button>

<button id="button1" (click)=getAllstudents() class="btn">get all</button>

<button id="button1" (click)=getbyhouse() class="btn">get by house</button>


<mat-list>
    <mat-list-item *ngFor="let element of data"> 
        <mat-card class="example-card">
            <mat-card-title-group>
              <mat-card-title>{{element.name}}</mat-card-title>
              <mat-card-subtitle>{{element.house}}</mat-card-subtitle>
              <img mat-card-lg-image src= {{element.image}} >
            </mat-card-title-group>
            <mat-card-content>
              {{element.ancestry}}
            </mat-card-content>
        </mat-card>
    </mat-list-item>
    <mat-divider></mat-divider>
</mat-list>

